body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #6725a8;
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

header {
  height: 88px;
  width: calc(100% - 44px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px 16px 20px 24px;
}

main {
  background: #f6f6fa;
  width: 100%;
  border-radius: 24px;
  margin: 0 auto;

  position: relative;
  padding-bottom: 10px;
}

.header-part-left,
.header-part-rigth {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 170px;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}

.turn-list {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-20.png");
  transform: rotate(180deg);
  background-size: cover;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 20px;
}

.all-missing-products {
  width: 891px;
}

.btn-turn-list {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-20.png");
  transform: rotate(180deg);
  background-size: cover;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 10px;
}

.turn-down-list {
  background-image: url("./images/icons/icon-20.png");
  transform: rotate(0);
  background-size: cover;
}

.header-burger-menu {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  margin: 0px 0px 20px 0;
  position: relative;
  top: 10px;
  left: 3px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 28px;
  border-radius: 2px;
  top: 21px;
  left: 7px;
}

.menu-button::before {
  content: "";
  margin-top: -31px;
  margin-left: -7px;
}

.menu-button::after {
  content: "";
  margin-top: -10px;
  margin-left: -7px;
}

.header-title {
  width: 116px;
  height: 48px;
  margin-top: 5px;
  margin-left: 20px;
}

.header-title-h1 {
  font-weight: 600;
  font-size: 22px;

  line-height: 24px;
  font-variant: small-caps;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.header-div-input {
  max-width: 970px;
  height: 48px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 226px;
  right: 204px;
}

.header-input {
  width: 898px;
  height: 24px;
  margin: 10px 52px 14px 20px;
  background-color: transparent;
  border: 0;
  outline: none;
  margin-left: 18px;
  margin-top: 12px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}

.header-div-input img {
  width: 24px;
  height: 24px;
  margin-right: 18px;
  margin-top: 2px;
}

.header-input::placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
  font-size: 18px;
}

.header-profile,
.header-basket {
  width: 55px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-profile-image,
.header-basket-image {
  height: 28px;
  width: 28px;
  margin-bottom: 9px;
}

.header-p {
  color: #ffffff;
  margin: 0;
}

.main-active-product {
  margin-top: -11px;
}

.main-container {
  height: 100%;
  padding-left: 24px;
  padding-top: 17px;
  width: 891px;
}

.missing-products {
  height: 100%;
  margin-left: 24px;
  padding-top: 20px;
  margin-bottom: -10px;
}

.main-title {
  font-weight: 700;
  font-size: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #000000;
  margin-top: 33px;
}

.main-checkbox-select-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 900px;
  position: relative;
  margin-left: -4px;
  margin-top: -10px;
}

.main-checkbox-select-all-p {
  margin-left: 8px;
  letter-spacing: -0.04em;
}

.main-selected-products-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
}

.select-product-image {
  width: 72px;
  height: 96px;
  margin-left: 10px;
}

.main-selected-products-rigth,
.main-selected-products-missing-rigth {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 226px;
}

.product-properties {
  display: flex;
  flex-direction: row;
  width: 155px;
  justify-content: space-between;
  margin: 8px 0 8px 0;
}

.product-price-discount {
  width: auto;
  height: 17px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selected-product-info-company {
  display: flex;
  align-items: center;
}

.info-product {
  margin-left: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.info-about-company {
  position: absolute;
  width: 255px;
  background: #ffffff;
  border-radius: 8px;
  padding: 11px 16px 7px 16px;
  display: flex;
  flex-direction: column;
  bottom: -85px;
  left: 10px;
  z-index: 100;
  display: none;
}

.info-about-company > p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.info-about-company h3 {
  font-weight: 700;
  font-size: 13px;
  margin: 0 0 4px 0;
}

.product-price-discount-p {
  width: auto;
}

.product-price-discount-p::before {
  width: 100%;
  position: absolute;
  content: "";
  height: 4px;
  top: 15px;
  left: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.product-price-discount-p::after {
  width: 100%;
  position: absolute;
  content: "";
  height: 4px;
  top: 5px;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-price {
  text-align: end;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-missing-price {
  width: 120px;
  margin-right: 7px;
}

.product-price-price {
  max-width: 120px;
  height: 28px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}

.price-count {
  max-width: 85px;
  height: 100%;

  font-style: normal;
  font-size: 20px;
  margin: 0;
}

.products-icons {
  text-align: end;
  margin-top: 10px;
}

.price-valuta {
  height: 24px;

  font-size: 16px;
  line-height: 24px;
  margin-left: 5px;
}

.input-click {
  width: 100px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  padding: 2px;
}

.input-missing-click {
  width: 100px;
}

.input-click-btn {
  width: 20px;
  height: 100%;
  border: 0;
  background: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.input-click-btn-minus,
.input-click-btn-plus {
  font-weight: 400;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  margin-left: 5px;
}

.input-click-input {
  width: 44px;
  height: 100%;
  border: 0;
  margin: 0 auto;
  appearance: none;
  outline: transparent;
  text-align: center;
}

.input-click-input::-webkit-inner-spin-button {
  display: none;
}

.input-click-input[type="text" i] {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.product-remainder {
  display: flex;
  flex-direction: row;
  color: #ff3b30;
  font-weight: 400;
  font-size: 13px;
  display: none;
}

.all-selected-products {
  margin-top: 14px;
}

.selected-product-description {
  width: 275px;
  margin-left: 16px;
  position: relative;
}

.selected-product-description p {
  margin: 0;
}

.main-checkbox-select-all::after,
.missing-products-title::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
}

.main-checkbox-select-all::after {
  top: 55px;
}

.missing-products-title::after {
  top: 40px;
}

.main-selected-products-left-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.selected-product-description-p {
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 24px;
}

.main-selected-products {
  position: relative;
}

.main-selected-products,
.main-selected-products-missing {
  margin-top: 5px;
  margin-bottom: 10px;
  min-height: 130px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.product-about-company-p {
  margin-top: 2px;
  margin-bottom: 4px;
}

.delivery-method {
  width: 843px;
  margin-bottom: 16px;
  margin-top: 0;
  background: #ffffff;
  border-radius: 16px;
  margin-left: 24px;
  padding-left: 24px;
  padding-top: 24px;
  padding: 16px 24px 0 24px;
}

.delivery-method-title {
  height: 30px;
}

.delivery-method h2 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: #000000;
}

.delivery-method button {
  width: 78px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  color: #cb11ab;
  border: 0;
  background-color: transparent;
  margin-right: 24px;
}

.total-for-mobile {
  display: none;
}

.total {
  position: absolute;
  min-height: 540px;
  width: 381px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  top: 22px;
  right: 24px;
  padding: 16px 24px;
}

.total-title,
.total-product,
.total-discount,
.total-delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1px;
}

.total-title {
  margin-bottom: 0px;
  margin-bottom: 7px;
}

.total-title h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.total-price {
  max-width: 250px;
  display: flex;
  flex-direction: row;
}

.total-title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #000000;
}

.total-product-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  height: 24px;
  margin: 0;
}

.total-change-btn {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/pencil.png");
  background-size: cover;
  border: 0;
  background-color: transparent;
}

.total-delivery-adress-title,
.total-payment-adress-title,
.delivery-method-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.total-delivery-adress-title,
.total-payment-adress-title {
  margin-top: 25px;
  margin-bottom: 4px;
}

.total-delivery-adress-title h3,
.total-payment-adress-title h3 {
  margin: 0;
}

.total-delivery-adress-date {
  font-weight: 400;
  font-size: 13px;
  color: #cb11ab;
  margin-top: 5px;
}

.total-label-delivery {
  width: 100%;
  height: 52px;
  background: #f6f6fa;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.total-label-payment-text {
  width: 100%;
  height: 66px;
  background: #f6f6fa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.total-label-payment-text-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.total-label-payment-p {
  padding-left: 4px;
}

.total-label-payment-checkbox {
  background-color: #a0a0a4;
}

.total-label-delivery-text {
  width: 100%;
  height: 32px;
  margin: 0;
}

.total-label-delivery-img {
  margin-left: 9px;
  margin-right: 9px;
}

.data-order-agree-img {
  margin-right: 9px;
}

.total-label-payment-img {
  margin-right: 9px;
}

.total-payment-cart-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.total-payment-cart-title-p {
  margin: 0;
  padding-bottom: 24px;
}

.missing-products-title {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
}

.missing-products-title h5 {
  margin: 0;
}

.main-selected-products-input,
.main-selected-all-products-input {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.main-selected-products-input:checked,
.main-selected-all-products-input:checked {
  width: 20px;
  height: 20px;
  background-color: #cb11ab;
  background-image: url("./images/icons/checkbox.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid cb11ab;
  box-sizing: content-box;
}

.total-label-payment-checkbox {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  margin-right: 8px;
}

.missing-products p {
  color: #a0a0a4;
}

.missing-products img {
  filter: grayscale(100%);
}

.delivery-method-data-order {
  width: 660px;
}

.data-order-title {
  margin-top: 16px;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.data-order-title p {
  margin-top: 3px;
}

.data-order-title h5 {
  width: 170px;
  margin: 0 5px 0 0;
}

.data-order-title-adress-delivery {
  position: absolute;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 20px;
  right: 85px;
}

.tabbar {
  display: none;
}

.data-order-title-adress-delivery img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.data-order-images {
  display: flex;
  flex-direction: row;
}

.data-order-images-product img {
  width: 40px;
  height: 56px;
  margin-right: 8px;
}

.data-order-images-product span {
  top: -10px;
  right: 5px;
}

.data-order-images-product span,
.count-product-in-basket {
  position: absolute;
  background: #f55123;
  border-radius: 16px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  min-width: 16px;
  max-width: 50px;
  height: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  padding: 4px 2px 1px 2px;
}

.count-product-in-basket {
  right: 20px;
  top: 30px;
}

.data-order-images-product {
  position: relative;
}

.data-order-agree {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.data-order-agree-text {
  width: 440px;
  display: flex;
  flex-direction: row;
}

#box,
#box-delivery {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

#box-inner,
#box-delivery-inner {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 00px;
  background: rgba(5, 0, 10, 0.3);
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.payment-modal-window,
.delivery-modal-window {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 16px 20px 24px 24px;
  margin: 5% auto;
  left: 33%;
  top: 15%;
  position: absolute;
  transition: 300ms transform ease-in-out;
}

.payment-modal-window {
  width: 400px;
  height: 408px;
}

.delivery-modal-window {
  width: 500px;
}

.payment-modal-window-title,
.delivery-modal-window-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  letter-spacing: -0.01em;
}

.payment-modal-window-title button,
.delivery-modal-window-title button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("./images/icons/search-close.png");
  border: 0;
}

.delete-btn:hover,
.product-delete-btn:hover {
  background-image: url("./images/icons/delete-btn-hover.png");
}

.delivery-method-person-data {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 700px;
  height: 150px;
}

.delivery-method-person-data-input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  outline: none;
}

.delivery-method-person-data-tel p {
  font-weight: 400;
  font-size: 16px;
  position: relative;
  outline: none;
  color: #a0a0a4;
}

.delivery-method-person-data-input::placeholder {
  color: #a0a0a4;
}

.div-input-name,
.div-input-surname {
  height: 70px;
  width: 338px;
}

.div-input-name {
  margin-right: 24px;
}

.input-name,
.input-surname {
  margin-top: 16px;
  width: 100%;
  height: 25px;
  font-weight: 400;
  font-size: 16px;
}

.input-name[type="text" i],
.input-surname[type="text" i],
.input-email[type="text" i],
.div-input-tel[type="text" i],
.div-input-inn[type="text" i] {
  padding: 0;
}

.input-wrong {
  font-weight: 400;
  font-size: 12px;
  color: #f55123;
  margin: 4px 0 0 0;
  display: none;
  position: relative;
  width: 100%;
}

.input-wrong::before {
  position: absolute;
  content: "";
  width: inherit;
  height: 1px;
  background-color: #f55123;
  top: -5px;
}

.div-input-email,
.div-input-tel,
.div-input-inn {
  width: 33%;
}

.div-input-tel {
  margin-left: 24px;
  margin-right: 24px;
}

.sur-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sur-inputs > div {
  width: 217px;
  height: 64px;
}

.sur-inputs > div > input {
  width: 100%;
}

.div-input-tel {
  position: relative;
}

.input-inn::-webkit-inner-spin-button {
  display: none;
}

.div-input-tel-p {
  font-weight: 400;
  font-size: 13px;
  color: #a0a0a4;
  position: absolute;
  top: -30px;
  left: 0px;
}

.div-input-inn p {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

.total-btn {
  width: 100%;
}

.total-btn,
.payment-modal-window-button,
.delivery-modal-window-button {
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  background: #cb11ab;
  border-radius: 8px;
}

.payment-modal-window-button {
  position: absolute;
  bottom: 24px;
  width: 164px;
}

.delivery-modal-window-button {
  width: 164px;
  margin-top: 16px;
}

.total-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.payment-modal-window-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 240px;
  height: 24px;
  margin-bottom: 16px;
}

.delivery-modal-window-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.delete-btn,
.product-delete-btn {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-basket.png");
  background-repeat: no-repeat;
  border: 0;
  margin: 0;
  background-color: transparent;
}

.product-like-btn {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-like.png");
  background-repeat: no-repeat;
  border: 0;
  margin: 0;
  background-color: transparent;
  margin-right: 10px;
}

.product-like-btn:hover {
  background-image: url("./images/icons/like-btn-hover.png");
}

.delivery-modal-window-cart p {
  width: 400px;
  margin: 0 0 0 -25px;
}

.div-delivery-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 26px;
}

.delivery-window-point-btn {
  width: 224px;
  height: 36px;
  background: #ffffff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 13px;
  border: 2px solid rgba(203, 17, 171, 0.15);
}

.btn-no-active {
  border: 2px solid rgba(203, 17, 171, 0.15);
}

.btn-active {
  border: 2px #cb11ab solid;
}

.delivery-modal-adresses {
  margin-bottom: 41px;
}

.delivery-modal-window-cart h4 {
  font-weight: 700;
  font-size: 13px;
}

.payment-radio,
.delivery-radio {
  width: 16px;
  height: 16px;
  appearance: none;
  border-radius: 50%;
  background-color: #cb11ab;
}

.payment-radio:checked,
.delivery-radio:checked {
  background-image: url("./images/icons/radio-icon.png");
  background-size: cover;
  transform: scale(1);
}

.payment-modal-window-cart img {
  margin-right: 4px;
  width: 32px;
  height: 24px;
}

.total-agreement-p {
  width: 300px;
}

.total-agreement-img {
  margin-right: 10px;
}

.p-title {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.03;
}

.p-properties {
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  margin: 0;
}

footer {
  height: 64px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  outline: none;
  color: #a0a0a4;
}

.p-cart {
  font-weight: 400;
  font-size: 16px;
}

.span-properties {
  font-weight: 400;
  font-size: 13px;
  color: #0cb477;
  margin: 0;
}

.p-description {
  font-weight: 400;
  font-size: 13px;
  color: #a0a0a4;
}

.h5-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.p-grey {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}

@media screen and (max-width: 1024px) {
  body {
    width: 1024px;
  }

  .main-container {
    width: 640px;
  }

  .total {
    width: 255px;
  }

  .all-missing-products {
    width: 640px;
  }

  .delivery-method {
    width: 590px;
  }

  .delivery-method-person-data {
    width: 590px;
  }

  .div-input-surname,
  .div-input-name {
    width: 283px;
  }

  .div-input-email,
  .div-input-tel,
  .div-input-inn {
    width: 180px;
  }

  .div-input-tel-p {
    left: 3px;
  }

  footer p {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }

  header {
    width: 320px;
    background-color: #6725a8;
    padding: 0;
  }

  .header-div-input {
    display: none;
  }

  .header-part-left {
    justify-content: left;
    width: 100%;
    position: relative;
  }

  .header-part-left::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("./images/icons/Search.png");
    right: 16px;
    top: 20px;
  }

  .header-title {
    margin-left: 0;
  }

  .header-title-h1 {
    width: 230px;
    font-size: 22px;
    margin-top: 8px;
  }

  .header-burger-menu {
    border: 0;
  }

  .menu-button {
    width: 22.5px;
  }

  .menu-button::before {
    width: 22.5px;
  }

  .menu-button::after {
    width: 17px;
  }

  .header-part-rigth {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  body {
    position: relative;
  }

  .total-for-mobile {
    display: block;
    position: relative;
    min-height: 540px;
    width: 272px;
    background: #f6f6fa;
    padding: 16px 24px;
    margin-top: -30px;
  }

  .total {
    display: none;
  }

  .main-container {
    width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .main-checkbox-select-all {
    width: 304px;
  }

  .all-missing-products {
    width: 286px;
    max-height: 500px;
  }

  .main-selected-products {
    flex-direction: column;
    position: relative;
    max-height: 500px;
    margin-top: 28px;
  }

  .main-selected-products::after,
  .main-selected-products-missing::after {
    position: absolute;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: "";
    bottom: -8px;
    width: 100%;
  }

  .input-click {
    width: 76px;
    height: 32px;
  }

  .input-click-input {
    width: 30px;
  }

  .input-for-mobile {
    position: absolute;
    top: 2px;
  }

  .select-product-image {
    margin-left: 0;
  }

  .product-price {
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 96px;
    align-items: center;
    height: 24px;
  }

  .price-valuta {
    margin: 0;
    width: 30px;
    margin-left: 5px;
  }

  .selected-product-description {
    margin-top: 35px;
    width: 192px;
  }

  .p-title {
    font-size: 14px;
  }

  .product-price-discount {
    margin-left: 5px;
    margin-top: 3px;
  }

  .price-count {
    height: 24px;
  }

  .product-price-discount-p::before {
    top: 10px;
  }

  .main-selected-products-rigth {
    width: 100%;
  }

  .select-product-image {
    width: 80px;
    height: 106px;
  }

  .product-count {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .product-remainder {
    margin-left: 16px;
  }

  .products-icons {
    position: absolute;
    right: 30px;
  }

  .product-like-btn {
    width: 18px;
    height: 18px;
    background-size: cover;
  }

  .missing-products {
    margin-left: 16px;
    margin-right: 16px;
  }

  .missing-product-for-mobile {
    margin-top: 0;
  }

  .icons-for-mobile {
    position: absolute;
    bottom: 0;
  }

  .main-selected-products-missing {
    position: relative;
    margin-bottom: 28px;
  }

  .delivery-method {
    width: 280px;
    margin-left: 0;
    padding-left: 16px;
  }

  .delivery-method-title {
    margin-top: 16px;
  }

  .delivery-method-title h2 {
    font-size: 20px;
  }

  .delivery-method button {
    margin-right: 0;
  }

  .data-order-title {
    flex-direction: column;
    max-height: 500px;
  }

  .p-title {
    width: 100%;
    margin-bottom: 0;
    font-size: 16px;
  }

  .delivery-method-data-order {
    width: 100%;
  }

  .data-order-title-adress-delivery {
    right: 0;
    width: 100%;
    position: relative;
    top: 0px;
  }

  .data-order-images {
    margin-top: 15px;
  }

  .delivery-method-person-data {
    width: 100%;
  }

  .div-input-name,
  .div-input-name {
    width: 288px;
    margin-right: 0;
    height: 60px;
  }

  .div-input-tel {
    margin-left: 0;
    padding-top: 10px;
  }

  .div-input-inn {
    margin-top: -100px;
  }

  .sur-inputs {
    width: 288px;
    margin-right: 0;
    max-height: 500px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .inputs-for-person-data {
    min-height: 420px;
  }

  .sur-inputs > div {
    width: 275px;
    margin-top: 10px;
    height: 60px;
  }

  .info-about-company {
    bottom: -125px;
    left: 0;
    width: 170px;
  }

  .payment-modal-window,
  .delivery-modal-window {
    width: 288px;
    height: 600px;
    left: 0;
    padding: 16px;
    top: -25px;
  }

  .payment-modal-window-button {
    width: 288px;
  }

  .delivery-window-point-btn {
    width: 140px;
  }

  .delivery-modal-window-cart p {
    font-size: 16px;
    width: 236px;
  }

  .delivery-radio {
    margin-left: 0px;
    margin-right: 25px;
  }

  .delivery-modal-window-button {
    width: 288px;
    bottom: 30px;
    position: absolute;
  }

  .delivery-modal-adresses {
    position: relative;
  }

  .tabbar {
    display: block;
    width: 294px;
    height: 35px;
    background: #ffffff;
    box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
    padding: 14px 13px 14px 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tabbar img {
    width: 28px;
    height: 28px;
  }
}
