body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #6725a8;
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

header {
  height: 68px;
  width: calc(100% - 44px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px 16px 20px 24px;
}

main {
  background: #f6f6fa;
  width: 100%;
  border-radius: 24px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 34px;
}

.header-part-rigth {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  margin-top: 15px;
  margin-left: -15px;
  justify-content: space-between;
}

.header-part-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -3px;
  margin-top: 18px;
  width: 200px;
}

.turn-list {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-20.png");
  background-size: cover;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 0px;
}

.all-missing-products {
  margin-top: -5px;
  width: 891px;
}

.btn-turn-list {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-20.png");
  background-size: cover;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: -1px;
  top: 4px;
}

.turn-down-list {
  background-image: url("./images/icons/icon-20.png");
  transform: rotate(180deg);
  background-size: cover;
  top: 18px;
}

.turn-down-list-2 {
  background-image: url("./images/icons/icon-20.png");
  transform: rotate(180deg);
  background-size: cover;
  top: 10px;
}
.header-burger-menu {
  box-sizing: border-box;

  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  margin: 0px 0px 20px 0;
  position: relative;
  top: 11.5px;
  left: 1px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 28px;
  border-radius: 2px;
  top: 21px;
  left: 9px;
}

.menu-button::before {
  content: "";
  margin-top: -31px;
  margin-left: -9px;
}

.menu-button::after {
  content: "";
  margin-top: -11px;
  margin-left: -9px;
}

.header-title {
  width: 116px;
  height: 48px;
  margin-left: 17px;
  margin-top: -5px;
}

.header-div-input {
  width: 970px;
  height: 48px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 36px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 224px;
  right: 204px;
  top: 40px;
}

.header-input {
  width: 898px;
  height: 24px;
  margin: 10px 52px 14px 20px;
  background-color: transparent;
  border: 0;
  outline: none;
  margin-left: 18px;
  margin-top: 12px;
  color: #ffffff;
  letter-spacing: -0.03em;
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px !important;
}

.header-div-input img {
  width: 23px;
  height: 23px;
  margin-right: 21px;
  margin-top: 2px;
}

.header-input::placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
  font-size: 18px;
}

.header-profile,
.header-basket {
  width: 55px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.header-profile {
  margin-left: -3px;
}

.header-basket {
  margin-right: 3px;
}

.header-profile-image,
.header-basket-image {
  height: 28px;
  width: 28px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.header-basket-image {
  margin-left: -6px;
}
.header-p {
  color: #ffffff;
  margin: 0;
}

.main-active-product {
  margin-top: -11px;
}

.main-container {
  height: 100%;
  padding-left: 24px;
  padding-top: 17px;
  width: 891px;
}

.missing-products {
  height: 100%;
  margin-left: 23px;
  padding-top: 20px;
  margin-bottom: -10px;
  margin-top: -34px;
  letter-spacing: -0.05em;
}

.main-title {
  font-weight: 700;
  font-size: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.027em;
  color: #000000;
  margin-top: 32px;
}

.main-checkbox-select-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 895px;
  position: relative;
  margin-left: -5px;
  margin-top: -8px;
}

.main-checkbox-select-all-p {
  margin-left: 9px;
  margin-top: 14px;
  letter-spacing: -0.025em;
}

.main-selected-products-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -4.5px;
  margin-top: 2px;
  margin-bottom: 1px;
}
.main-selected-missing-products-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -7px;
  margin-top: 3px;
  margin-bottom: 24px;
}
.select-product-image {
  width: 72px;
  height: 96px;
  margin-left: 8px;
}

.missing-p-title {
  padding-top: 0px;
  letter-spacing: -0.022em;
  width: 290px;
  line-height: 24px;
}

.main-selected-products-rigth,
.main-selected-products-missing-rigth {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 226px;
}

.main-selected-products-rigth {
  width: 250px;
  justify-content: space-between;
}
.product-properties {
  display: flex;
  flex-direction: row;
  width: 155px;
  justify-content: space-between;
  padding: 8px 0 0 0;
  letter-spacing: -0.012em;
}

.product-price-discount {
  width: auto;
  height: 17px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3.5px;
}

.selected-product-info-company {
  display: flex;
  align-items: center;
}

.info-product {
  margin-left: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.info-about-company {
  position: absolute;
  width: 255px;
  background: #ffffff;
  border-radius: 8px;
  padding: 11px 16px 7px 16px;
  display: flex;
  flex-direction: column;
  bottom: -85px;
  left: 10px;
  z-index: 100;
  display: none;
}

.info-about-company > p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.info-about-company h3 {
  font-weight: 700;
  font-size: 13px;
  margin: 0 0 4px 0;
}

.product-price-discount-p {
  width: auto;
  margin-right: -9px;
  letter-spacing: -0.04em;
}

.product-price-discount-p::before {
  width: 100%;
  position: absolute;
  content: "";
  height: 4px;
  top: 15px;
  left: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.product-price-discount-p::after {
  width: 100%;
  position: absolute;
  content: "";
  height: 4px;
  top: 5px;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-price {
  text-align: end;
  min-width: 120px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-missing-price {
  width: 170px;

  margin-top: -3px;
}

.product-price-price {
  max-width: 150px;
  height: 28px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}

.price-count {
  max-width: 125px;
  height: 100%;
  font-style: normal;
  font-size: 20px;
}

.big-price-count {
  max-width: 125px;
  height: 100%;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding-top: 9px;
  letter-spacing: -0.01em;
}
.products-icons {
  text-align: end;
  margin-top: 6px;
  margin-right: 2px;
}

.price-valuta {
  height: 24px;

  font-size: 16px;
  line-height: 24px;
  margin-left: 5px;
}

.input-click {
  width: 96px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  padding: 2px;
}

.input-missing-click {
  width: 100px;
}

.input-click-btn {
  width: 20px;
  height: 100%;
  border: 0;
  background: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.input-click-btn-minus,
.input-click-btn-plus {
  font-weight: 400;
  font-size: 20px;
  border: 0;
  background-color: transparent;
}
.input-click-btn-plus {
  margin-right: 6px;
}
.input-click-btn-minus {
  margin-left: 5px;
}
.input-click-input {
  width: 44px;
  height: 100%;
  border: 0;
  margin: 0 auto;
  appearance: none;
  outline: transparent;
  text-align: center;
  font-size: 16px;
}

.input-click-input::-webkit-inner-spin-button {
  display: none;
}

.input-click-input[type="text" i] {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.product-remainder {
  display: flex;
  flex-direction: row;
  color: #ff3b30;
  font-weight: 400;
  font-size: 13px;
  display: none;
  margin: 0;
  height: 16px;
  margin-left: -1px;
  margin-top: 5px;
}

.product-remainder p {
  margin: 0;
  letter-spacing: -0.05em;
}

.all-selected-products {
  margin-top: 14px;
}

.selected-product-description {
  width: 275px;
  margin-left: 16px;
  margin-bottom: 2px;
  position: relative;
}

.selected-product-description p {
  margin: 0;
}

.main-checkbox-select-all::after,
.missing-products-title::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
}

.main-checkbox-select-all::after {
  top: 52px;
}

.missing-products-title::after {
  top: 40px;
}

.main-selected-products-left-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.selected-product-description-p {
  padding-top: 0.5px;
  line-height: 24px;
  letter-spacing: -0.015em;
  width: 255px;
}

.main-selected-products {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 26px;
}

.main-selected-products-missing {
  margin-top: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.product-about-company-p {
  padding-bottom: 5px;
  letter-spacing: -0.022em;
}

.product-about-company {
  margin-top: 9px;
}
.delivery-method {
  width: 843px;
  margin-bottom: 16px;
  margin-top: 22px;
  background: #ffffff;
  border-radius: 16px;
  margin-left: 24px;
  padding: 16px 24px 0 24px;
}

.delivery-method-title {
  height: 30px;
  margin-top: 4px;
  margin-left: -1px;
  letter-spacing: -0.05em;
}

.delivery-method h2 {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.delivery-method button {
  width: 78px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  color: #cb11ab;
  border: 0;
  background-color: transparent;

  letter-spacing: 0.01em;
}

#delivery-2 {
  margin-right: 5px;
  margin-top: 7px;
}
.total-for-mobile {
  display: none;
}

.total {
  position: absolute;
  min-height: 540px;
  width: 381px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  top: 22px;
  right: 24px;
  padding: 16px 24px;
}

.total-title,
.total-product,
.total-discount,
.total-product-p-title,
.total-delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1px;
  margin-top: -1px;
}

.total-product-p-title {
  letter-spacing: -0.06em;
  margin-top: 3px;
}

.total-product-p-delivery {
  letter-spacing: -0.033em;
  margin-top: 3px;
}
.p-free {
  letter-spacing: -0.033em;
  padding-right: 1px;
}

.total-title {
  margin-top: 3px;
  margin-bottom: 7px;
}

.total-title-h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.total-price {
  max-width: 250px;
  height: 24px;
  display: flex;
  flex-direction: row;
  margin-top: -0.5px;
  margin-right: 1px;
}

.total-price-count {
  width: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -1px;
  font-size: 16px;
}
.total-p {
  letter-spacing: -0.02em;
}

.total-discont {
  letter-spacing: -0.025em;
}

.total-price-without-discont {
  letter-spacing: -0.01em;
  padding-top: -1px;
}
.total-price-title {
  width: 149px;
  height: 33px;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  justify-content: end;
}

.total-title-totalsum {
  margin: -1px 0 0 0px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.001em;
}
.total-com {
  margin: 1px 1px 0 0px;
  font-size: 19px;
}
.total-title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #000000;
}

.total-product-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  height: 24px;
  margin: 0;
}

.total-change-btn {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/pencil.png");
  background-size: cover;
  border: 0;
  background-color: transparent;
}

#pay-1 {
  margin-top: -2px;
  margin-left: 1px;
}

.total-delivery-adress {
  margin-top: -11.5px;
}

.total-delivery-title {
  letter-spacing: -0.0165em;
  font-size: 16px;
}
#total-selected-num-cart {
  margin-left: 8px;
  letter-spacing: 0.01em;
}
.total-payment-title {
  letter-spacing: -0.022em;
  font-size: 16px;
}

.total-label-payment-img {
  margin: -1px 0 0 0;
}
.total-delivery-adress-title,
.total-payment-adress-title,
.delivery-method-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.total-delivery-adress-title {
  margin-top: 25px;
  margin-bottom: 7px;
}
.total-payment-adress-title {
  margin-top: 27.5px;
  margin-bottom: 4px;
}
.total-delivery-adress-title h3,
.total-payment-adress-title h3 {
  margin: 0;
}

.delivery-block-adress {
  letter-spacing: -0.027em;
}

.total-delivery-adress-date {
  letter-spacing: -0.04em;
  width: 52px;
  position: relative;
}
.total-delivery-adress-date::after {
  position: absolute;
  content: "";
  width: 47px;
  height: 0px;
  bottom: -2.5px;
  left: 0;
  border-top: 2px dashed rgba(203, 17, 171, 0.2);
}

.total-delivery-adress-date {
  font-weight: 400;
  font-size: 13px;
  color: #cb11ab;
  margin-top: 5px;
}

.total-label-delivery {
  width: 100%;
  height: 52px;
  background: #f6f6fa;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0 0 -1px;
}

.total-label-payment-text {
  width: 100%;
  height: 66px;
  background: #f6f6fa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 30px;
}

.total-label-payment-text-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.total-label-payment-p {
  padding-left: 8px;
  padding-top: 1px;
  letter-spacing: -0.011em;
}

.total-label-payment-checkbox {
  background-color: #a0a0a4;
}

.total-label-delivery-text {
  width: 100%;
  height: 32px;
  margin: 0px 0 0 -1px;
  letter-spacing: -0.02em;
}

.total-label-delivery-img {
  margin-left: 9px;
  margin-right: 9px;
  margin-top: -4px;
}

.data-order-agree-img {
  margin-right: 9px;
}

.total-payment-cart-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.total-payment-cart {
  margin-top: 7px;
}
.total-payment-cart-title-p {
  margin: -5px 0 0 0;
  letter-spacing: 0.044em;
  padding-bottom: 24px;
}

.missing-products-title {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 891px;
}

.missing-products-title h5 {
  margin: 0;
}

.main-selected-products-input,
.main-selected-all-products-input {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.write-off-payment {
  margin-left: 8px;
  margin-top: -4px;
}
.main-selected-products-input:checked,
.main-selected-all-products-input:checked {
  width: 20px;
  height: 20px;
  background-color: #cb11ab;
  background-image: url("./images/icons/checkbox.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #cb11ab;
  box-sizing: content-box;
}

.payment-text {
  padding-left: 5px;
  height: 20px;
  letter-spacing: -0.032em;
}
.total-label-payment-checkbox {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  margin-right: 8px;
}

.missing-products p {
  color: #a0a0a4;
}

.missing-products img {
  filter: grayscale(100%);
}

.delivery-method-data-order {
  width: 660px;
}

.data-order-title {
  margin-top: 16px;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  letter-spacing: -0.04em;
  margin-top: 17px;
}

.data-order-title-date {
  margin-top: 12px;
  margin-bottom: 15px;
}
.data-order-price {
  margin-top: 24px;
  margin-left: 0px;
  letter-spacing: -0.046em;
}

.data-order-price p {
  margin-left: 10px;
  letter-spacing: -0.03em;
}

.data-order-date {
  margin-top: 2px;
  letter-spacing: -0.03em;
}
.delivery-adress-p {
  letter-spacing: -0.025em;
  margin-left: 9px;
}
.data-order-title p {
  margin-top: 3px;
}

.data-order-title h5 {
  width: 170px;
  margin: 0 5px 0 0;
}

.data-order-title-adress-delivery {
  position: absolute;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 25px;
  left: 185px;
  letter-spacing: -0.023em;
}
.rating {
  padding-right: 3px;
}
.tabbar {
  display: none;
}

.data-order-title-adress-delivery img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.data-order-images {
  display: flex;
  flex-direction: row;
}

.data-order-images-product img {
  width: 40px;
  height: 56px;
  margin-right: 0px;
}

.data-order-images-product span {
  top: -10px;
  right: -3px;
}

.data-order-images-product span,
.count-product-in-basket {
  position: absolute;
  background: #f55123;
  border-radius: 16px;
  transform: matrix(1, 0, 0, 1, 0, 0);

  min-width: 12px;
  max-width: 50px;
  height: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  padding: 3px 2px 2px 2px;
  margin-left: -5px;
}

.count-product-in-basket {
  right: 25px;
  top: 32px;
}

.data-order-images-product {
  position: relative;
  margin-left: 9px;
}

.data-order-agree {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 67px;
  margin-top: -18px;
}

.pay-div {
  margin-top: 0px;
}

.pay-div .total-payment-cart-title {
  margin-top: 3px;
}

.pay-title {
  margin-left: 9px;
  letter-spacing: 0.01em;
  margin-right: 2px;
}
.data-order-agree-text {
  width: 440px;
  display: flex;
  flex-direction: row;
  letter-spacing: -0.02em;
}

.data-order-agree-text span {
  margin-left: 2px;
}
#box,
#box-delivery {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

#box-inner,
#box-delivery-inner {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 00px;
  background: rgba(5, 0, 10, 0.3);
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.payment-modal-window,
.delivery-modal-window {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 16px 20px 24px 24px;
  margin: 5% auto;
  left: 33%;
  top: 15%;
  position: absolute;
  transition: 300ms transform ease-in-out;
}

.payment-modal-window {
  width: 400px;
  height: 408px;
}

.delivery-modal-window {
  width: 500px;
}

.payment-modal-window-title,
.delivery-modal-window-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  letter-spacing: -0.01em;
}

.payment-modal-window-title button,
.delivery-modal-window-title button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("./images/icons/search-close.png");
  border: 0;
}

.delete-btn:hover,
.product-delete-btn:hover,
.missing-product-delete-btn:hover {
  background-image: url("./images/icons/delete-btn-hover.png");
}

.delivery-method-person-data {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 700px;
  height: 149px;
  margin-top: 19px;
}

.delivery-method-person-data-input {
  top: -1px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  outline: none;
}

.delivery-method-person-data-tel p {
  font-weight: 400;
  font-size: 16px;
  position: relative;
  outline: none;
  color: #a0a0a4;
}

.delivery-method-person-data-input::placeholder {
  color: #a0a0a4;
}

.div-input-name,
.div-input-surname {
  height: 70px;
  width: 338px;
}

.div-input-name {
  margin-right: 24px;
}

.input-name,
.input-surname {
  margin-top: 16px;
  width: 100%;
  height: 25px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
}

.input-name[type="text" i],
.input-surname[type="text" i],
.input-email[type="text" i],
.div-input-tel[type="text" i],
.div-input-inn[type="text" i] {
  padding: 0;
}

.input-wrong {
  font-weight: 400;
  font-size: 12px;
  color: #f55123;
  margin: 4px 0 0 0;
  display: none;
  position: relative;
  width: 100%;
}

.input-wrong::before {
  position: absolute;
  content: "";
  width: inherit;
  height: 1px;
  background-color: #f55123;
  top: -5px;
}

.div-input-email,
.div-input-tel,
.div-input-inn {
  width: 33%;
  margin-top: 1px;
}

.div-input-tel {
  margin-left: 26px;
  margin-right: 24px;
}

.sur-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-left: -2px;
}

.sur-inputs > div {
  width: 217px;
  height: 64px;
}

.sur-inputs > div > input {
  width: 100%;
}

.div-input-tel {
  position: relative;
}

.input-inn::-webkit-inner-spin-button {
  display: none;
}

.product-count {
  margin-left: 25px;
}
.div-input-tel-p {
  font-weight: 400;
  font-size: 13px;
  color: #a0a0a4;
  position: absolute;
  top: -36px;
  left: 0px;
  letter-spacing: -0.04em;
}

.input-telefon::placeholder {
  color: #000000;
  letter-spacing: -0.006em;
}

.div-input-inn p {
  font-weight: 400;
  font-size: 12px;
  margin: 6px 0 0 1px;
  letter-spacing: -0.01em;
}

#pay-2 {
  margin-top: 7px;
  margin-right: 5px;
}
.total-btn {
  width: 100%;
  margin-top: -6px;
}

.total-btn,
.payment-modal-window-button,
.delivery-modal-window-button {
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  background: #cb11ab;
  border-radius: 8px;
}

.payment-modal-window-button {
  position: absolute;
  bottom: 24px;
  width: 164px;
}

.delivery-modal-window-button {
  width: 164px;
  margin-top: 16px;
}

.total-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 9px;
}

.payment-modal-window-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 240px;
  height: 24px;
  margin-bottom: 16px;
}

.delivery-modal-window-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.delete-btn,
.product-delete-btn {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-basket.png");
  background-repeat: no-repeat;
  border: 0;
  margin-right: -1px;
  background-color: transparent;
}

.missing-product-delete-btn {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-basket.png");
  background-repeat: no-repeat;
  border: 0;
  margin-right: -2px;
  background-color: transparent;
}
.product-like-btn {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-like.png");
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  margin-right: 11px;
}

.product-like-btn:hover {
  background-image: url("./images/icons/like-btn-hover.png");
}

.delivery-modal-window-cart p {
  width: 400px;
  margin: 0 0 0 -25px;
}

.div-delivery-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 26px;
}

.delivery-window-point-btn {
  width: 224px;
  height: 36px;
  background: #ffffff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 13px;
  border: 2px solid rgba(203, 17, 171, 0.15);
}

.btn-no-active {
  border: 2px solid rgba(203, 17, 171, 0.15);
}

.btn-active {
  border: 2px #cb11ab solid;
}

.delivery-modal-adresses {
  margin-bottom: 41px;
}

.delivery-modal-window-cart h4 {
  font-weight: 700;
  font-size: 13px;
}

.payment-radio,
.delivery-radio {
  width: 16px;
  height: 16px;
  appearance: none;
  border-radius: 50%;
  background-color: #cb11ab;
}

.payment-radio:checked,
.delivery-radio:checked {
  background-image: url("./images/icons/radio-icon.png");
  background-size: cover;
  transform: scale(1);
}

.payment-modal-window-cart img {
  margin-right: 4px;
  width: 32px;
  height: 24px;
}

.total-agreement-p {
  width: 300px;
  padding-top: 5px;
  margin-left: -2px;
  letter-spacing: -0.012em;
  height: 40px;
}

.header-title-h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  font-variant: small-caps;
  color: #ffffff;
  text-transform: uppercase;
  margin: 5px 0 0 1px;
}
.total-agreement-img {
  margin-right: 8px;
  margin-top: -15px;
}

.p-title {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.03;
}

.p-properties {
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  margin: 0;
}

footer {
  height: 64px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  outline: none;
  color: #a0a0a4;
}

footer p {
  font-size: 13px;
  margin: 25px 0 0 3px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 13px;
}

.p-cart {
  font-weight: 400;
  font-size: 16px;
}

.span-properties {
  font-weight: 400;
  font-size: 13px;
  color: #0cb477;
  top: 1px;
  position: relative;
}

.span-properties::after {
  position: absolute;
  content: "";
  width: 62px;
  height: 0px;
  border-top: 2px dashed rgba(12, 180, 119, 0.2);
  bottom: -2px;
  left: 0;
}
.p-description {
  font-weight: 400;
  font-size: 13px;
  color: #a0a0a4;
}

.inputs-for-person-data {
  margin-top: -2px;
}

.input-title-h2 {
  letter-spacing: -0.035em;
  margin-left: 1px;
}
.h5-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.p-grey {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}

@media screen and (max-width: 1024px) {
  body {
    width: 1024px;
  }

  .main-container {
    width: 640px;
  }

  .total {
    width: 255px;
    padding-bottom: 30px;
  }

  .header-div-input {
    width: 594px;
  }

  .all-missing-products {
    width: 640px;
  }

  .delivery-method {
    width: 590px;
    margin-top: 24px;
  }

  .pay-div {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .header-input {
    width: 594px;
  }
  .delivery-method-person-data {
    width: 590px;
  }
  .inputs-for-person-data {
    margin-top: -4px;
  }
  .delivery-block-adress {
    width: 240px;
  }

  .missing-products-title {
    width: 640px;
    letter-spacing: -0.033em;
  }

  .delivery-method-title {
    letter-spacing: -0.05em;
    margin-left: 1px;
  }
  .main-checkbox-select-all {
    width: 644px;
  }

  .total-payment-cart-title-p {
    margin-top: -6px;
  }

  .input-title-h2 {
    margin-top: 2px;
    letter-spacing: -0.03em;
  }
  .select-product-image {
    margin-left: 10px;
  }
  .main-selected-products-rigth {
    margin-left: -6px;
  }
  .div-input-surname,
  .div-input-name {
    width: 283px;
  }
  .data-order-price {
    margin-top: 21px;
    margin-bottom: 4px;
  }
  .div-input-email,
  .div-input-tel,
  .div-input-inn {
    width: 180px;
  }

  .div-input-tel-p {
    left: 3px;
  }

  footer p {
    font-size: 13px;
    margin: 25px 0 0 3px;
    letter-spacing: -0.007em;
  }
}

@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }

  header {
    width: 320px;
    background-color: #6725a8;
    padding: 0;
    height: 60px;
  }

  .header-div-input {
    display: none;
  }

  .header-part-left {
    justify-content: left;
    width: 100%;
    position: relative;
  }

  .header-part-left::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("./images/icons/Search.png");
    right: 15px;
    top: 14px;
  }

  .header-title {
    margin-left: 0;
  }

  .header-title-h1 {
    width: 230px;
    font-size: 22px;
    margin-top: 8px;
  }

  .header-burger-menu {
    border: 0;
    margin-left: 8px;
  }

  .menu-button {
    width: 22.5px;
    height: 2px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
  }

  .menu-button::before {
    width: 22.5px;
    height: 2px;
    top: 24px;
    left: 9px;
    border-radius: 5px;
  }

  .menu-button::after {
    width: 17px;
    height: 2px;
    border-radius: 5px;
    top: 19.5px;
    left: 9px;
  }
  .header-title-h1 {
    font-size: 18px;
    margin-top: 3px;
    margin-left: 9px;
    letter-spacing: 0.1em;
  }
  .header-part-rigth {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  body {
    position: relative;
  }

  .total-for-mobile {
    display: block;
    position: relative;
    min-height: 540px;
    width: 272px;
    background: #f6f6fa;
    padding: 16px 24px;
    margin-top: -30px;
  }

  .total {
    display: none;
  }

  .main-container {
    width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .main-checkbox-select-all {
    width: 304px;
  }
  .main-checkbox-select-all-p {
    margin-left: 0;
  }

  .all-missing-products {
    width: 286px;
    max-height: 500px;
  }

  .main-selected-products {
    flex-direction: column;
    position: relative;
    max-height: 500px;
    margin-top: 15px;
    padding-bottom: 11px;
    margin-bottom: 10px;
  }

  .all-selected-products {
    margin-top: 28px;
  }
  .main-selected-products::after,
  .main-selected-products-missing::after {
    position: absolute;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: "";
    bottom: -8px;
    width: 100%;
  }

  .input-click {
    width: 75px;
    height: 25px;
    margin: 11px 0 0 -18px;
    position: relative;
  }

  .input-click-btn-minus {
    position: absolute;
    top: 3px;
    left: -3px;
  }

  .input-click-btn-plus {
    position: absolute;
    top: 3px;
    right: -5px;
  }
  .input-click-input {
    width: 30px;
  }

  .input-for-mobile {
    position: absolute;
    top: 2px;
  }

  .select-product-image {
    margin-left: 0;
  }

  .product-price {
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 96px;
    align-items: center;
    height: 24px;
  }

  .price-valuta {
    margin: 0;
    width: 30px;
    margin-left: 5px;
  }

  .selected-product-description {
    margin-top: 35px;
    width: 192px;
  }

  .p-title {
    font-size: 14px;
  }

  .product-price-discount {
    margin-left: 5px;
    margin-top: 3px;
  }

  .price-count {
    height: 24px;
  }

  .product-price-discount-p::before {
    top: 10px;
  }

  .main-selected-products-rigth {
  }

  .select-product-image {
    width: 80px;
    height: 106px;
  }

  .product-count {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .product-remainder {
    margin-left: 16px;
    margin-top: 20px;
  }

  .products-icons {
    position: absolute;
    right: 11px;
    top: 118px;
    width: 62px;
    display: flex;
    justify-content: space-between;
  }

  .product-like-btn {
    width: 18px;
    height: 18px;
    background-size: cover;
  }

  .missing-products {
    margin-left: 16px;
    margin-right: 16px;
  }

  .missing-product-for-mobile {
    margin-top: 0;
  }

  .icons-for-mobile {
    position: absolute;
    bottom: 0;
  }

  .main-selected-products-missing {
    position: relative;
    margin-bottom: 28px;
  }

  .delivery-method {
    width: 280px;
    margin-left: 0;
    padding-left: 16px;
  }

  .delivery-method-title {
    margin-top: 16px;
  }

  .delivery-method-title h2 {
    font-size: 20px;
  }

  .delivery-method button {
    margin-right: 0;
  }

  .data-order-title {
    flex-direction: column;
    max-height: 500px;
  }

  .p-title {
    width: 100%;
    margin-bottom: 0;
    font-size: 16px;
  }

  .delivery-method-data-order {
    width: 100%;
  }

  .data-order-title-adress-delivery {
    right: 0;
    width: 100%;
    position: relative;
    top: 0px;
  }

  .data-order-images {
    margin-top: 15px;
  }

  .delivery-method-person-data {
    width: 100%;
  }

  .div-input-name,
  .div-input-name {
    width: 288px;
    margin-right: 0;
    height: 60px;
  }

  .div-input-tel {
    margin-left: 0;
    padding-top: 10px;
  }

  .div-input-inn {
    margin-top: -100px;
  }

  .sur-inputs {
    width: 288px;
    margin-right: 0;
    max-height: 500px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .inputs-for-person-data {
    min-height: 420px;
  }

  .sur-inputs > div {
    width: 275px;
    margin-top: 10px;
    height: 60px;
  }

  .info-about-company {
    bottom: -125px;
    left: 0;
    width: 170px;
  }

  .payment-modal-window,
  .delivery-modal-window {
    width: 288px;
    height: 600px;
    left: 0;
    padding: 16px;
    top: -25px;
  }

  .missing-products-title {
    width: 288px;
  }

  .payment-modal-window-button {
    width: 288px;
  }

  .delivery-window-point-btn {
    width: 140px;
  }

  .delivery-modal-window-cart p {
    font-size: 16px;
    width: 236px;
  }

  .delivery-radio {
    margin-left: 0px;
    margin-right: 25px;
  }

  .delivery-modal-window-button {
    width: 288px;
    bottom: 30px;
    position: absolute;
  }

  .delivery-modal-adresses {
    position: relative;
  }

  .tabbar {
    display: block;
    width: 294px;
    height: 35px;
    background: #ffffff;
    box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
    padding: 14px 13px 14px 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tabbar img {
    width: 28px;
    height: 28px;
  }

  .main-active-product h2 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 8px;
  }

  .main-selected-all-products-input:checked {
    width: 22px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .main-checkbox-select-all-p {
    margin-left: 8px;
    margin-top: 5px;
  }
  .turn-list {
    top: 11px;
    right: 15px;
  }

  .main-checkbox-select-all::after {
    top: 50px;
  }

  .main-selected-products-left-check {
    margin-left: 5px;
    margin-top: -2px;
  }
  .price-count {
    font-size: 16px;
    margin: 6px 0 0 0;
  }
  .selected-product-description-p {
    font-size: 14px;
    position: relative;
    top: -12px;
  }
  .product-properties {
    padding: 0;
    margin-top: -7px;
  }

  .selected-product-info-company {
    display: none;
  }
}
