body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #6725a8;
}
header {
  height: 88px;
  width: 1400px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}
main {
  background: #f6f6fa;
  width: 1400px;
  border-radius: 24px;
  margin: 0 auto;
  /* top: -23px; */
  position: relative;
  padding-bottom: 10px;
}
.turn-list {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/icon-20.png");
  transform: rotate(180deg);
  background-size: cover;
  border: 0;
  background-color: transparent;
}
.turn-down-list {
  background-image: url("./images/icons/icon-20.png");
  transform: rotate(0);
  background-size: cover;
}
.header-burger-menu {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  margin: 0px 0px 20px 20px;
  position: relative;
  top: 10px;
  left: 3px;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 28px;
  border-radius: 2px;
  top: 21px;
  left: 10px;
}

.menu-button::before {
  content: "";
  margin-top: -31px;
  margin-left: -10px;
}

.menu-button::after {
  content: "";
  margin-top: -10px;
  margin-left: -10px;
}
.header-title {
  width: 116px;
  height: 48px;
  margin-top: 5px;
  margin-left: 20px;
}
.header-title-h1 {
  font-weight: 600;
  font-size: 22px;

  line-height: 24px;
  font-variant: small-caps;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.header-div-input {
  width: 970px;
  height: 48px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-input {
  width: 898px;
  height: 24px;
  margin: 10px 52px 14px 20px;
  background-color: transparent;
  border: 0;
  outline: none;
  /* position: relative; */
  margin-left: 18px;
  margin-top: 12px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}
.header-div-input img {
  width: 24px;
  height: 24px;
  margin-right: 18px;
  margin-top: 2px;
}
/* .header-div-input::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 35px;
  right: 244px;
  background: url("./images/icons/Search.png") no-repeat;
  background-size: auto;
} */
.header-input::placeholder {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
  font-size: 18px;
}

.header-profile,
.header-basket {
  width: 55px;
  height: 56px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-profile-image,
.header-basket-image {
  height: 28px;
  width: 28px;
  margin-bottom: 9px;
}
.header-basket {
}

.header-p {
  color: #ffffff;
  margin: 0;
  letter-spacing: 0.02em;
}

.main-active-product {
  margin-top: -11px;
}
.main-container {
  height: 100%;
  margin-left: 24px;
  padding-top: 17px;
}
.missing-products {
  height: 100%;
  margin-left: 24px;
  padding-top: 17px;
}
.main-title {
  font-weight: 700;
  font-size: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #000000;
}
.main-checkbox-select-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 146px;
  position: relative;
  margin-left: -4px;
}
.main-checkbox-select-all-p {
  /* letter-spacing: -0.04em; */
}
.main-selected-products-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 15px;
}
.select-product-image {
  width: 72px;
  height: 96px;
  margin-left: 10px;
}
.main-selected-products-rigth {
  display: flex;
  flex-direction: row;
}
.product-properties {
  display: flex;
  flex-direction: row;
  width: 155px;
  justify-content: space-between;
  margin: 8px 0 8px 0;
}
.product-count {
  /* border: 1px dashed rgba(0, 0, 0, 0.2); */
}
.product-price-discount {
  width: auto;
  /* max-width: 150px; */
  height: 17px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-price-discount-p {
  width: auto;
  /* background-color: #6725a8; */
}
.product-price-discount-p::before {
  width: 100%;
  position: absolute;
  content: "";
  height: 4px;
  top: 15px;
  left: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.product-price-discount-p::after {
  width: 100%;
  position: absolute;
  content: "";
  height: 4px;
  top: 7px;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.product-price {
  text-align: end;
  width: 158px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.product-price-price {
  max-width: 120px;
  height: 28px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}
.price-count {
  max-width: 85px;
  height: 100%;

  font-style: normal;
  font-size: 20px;
  margin: 0;
}
.products-icons {
  text-align: end;
}
.products-icons-img {
  margin-left: 19px;
}
.price-valuta {
  height: 24px;

  font-size: 16px;
  line-height: 24px;
  margin-left: 5px;
}

.input-click {
  width: 100px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  padding: 2px;
}
.input-click-btn {
  width: 20px;
  height: 100%;
  border: 0;
  background: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.input-click-input {
  width: 44px;
  height: 100%;
  border: 0;
  margin: 0 auto;
  appearance: none;
  outline: transparent;
  text-align: center;
}
.input-click-input::-webkit-inner-spin-button {
  display: none;
}
.input-click-input[type="text" i] {
  text-align: center;

  font-weight: 400;
  font-size: 16px;
}
.product-remainder {
  display: flex;
  flex-direction: row;
  color: #ff3b30;

  font-weight: 400;
  font-size: 13px;
}
.product-about-company {
}
.selected-product-description {
  width: 244px;
  margin-left: 16px;
}
.main-checkbox-select-all::after {
  position: absolute;
  width: 891px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  top: 41px;
}
.main-selected-products-left-check {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.selected-product-description-p {
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 24px;
  /* letter-spacing: 0.03rem; */
}
.main-selected-products {
  margin-left: -4px;
  /* margin-top: 15px; */
  margin-bottom: 15px;
  min-height: 130px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 891px;
}
.product-about-company-p {
  margin-top: 2px;
  margin-bottom: 4px;
}
.delivery-method {
  width: 867px;
  margin-bottom: 16px;

  background: #ffffff;
  border-radius: 16px;
  margin-left: 24px;
  padding-left: 24px;
}
.delivery-method-title {
  padding-top: 30px;
}
.delivery-method h2 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 16px;

  letter-spacing: -0.01em;
  color: #000000;
}

.delivery-method button {
  width: 78px;
  height: 24px;

  font-weight: 700;
  font-size: 16px;
  color: #cb11ab;
  border: 0;
  background-color: transparent;
  margin-right: 24px;
}
.total {
  position: absolute;
  width: 381px;
  min-height: 540px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  top: 22px;
  right: 24px;
  padding: 16px 24px;
}
.total-title,
.total-product,
.total-discount,
.total-delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-price {
  max-width: 250px;
  display: flex;
  flex-direction: row;
}
.total-title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #000000;
}
.total-product-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  height: 24px;
  margin: 0;
}
.total-change-btn {
  width: 20px;
  height: 20px;
  background-image: url("./images/icons/pencil.png");
  background-size: cover;
  border: 0;
  background-color: transparent;
}
.total-delivery-adress-title,
.total-payment-adress-title,
.delivery-method-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.total-delivery-adress-date {
  font-weight: 400;
  font-size: 13px;
  color: #cb11ab;
}
.total-label-delivery {
  width: 381px;
  height: 52px;
  background: #f6f6fa;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.total-label-payment-text {
  width: 373px;
  height: 66px;
  background: #f6f6fa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  padding-left: 8px;
}
.total-label-payment-text-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.total-label-payment-p {
  padding-left: 4px;
}
.total-label-payment-checkbox {
  background-color: #a0a0a4;
}
.total-label-delivery-text {
  width: 335px;
  height: 32px;
  margin: 0;
}
.total-label-delivery-img {
  margin-left: 9px;
  margin-right: 9px;
}
.total-label-payment-img {
  margin-right: 9px;
}
.total-payment-cart-title,
.missing-products-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-selected-products-input,
.main-selected-all-products-input {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: #cb11ab;
  border-color: #cb11ab;
}
.main-selected-products-input:checked,
.main-selected-all-products-input:checked {
  background-color: #cb11ab;
  background-image: url("./images/icons/checkbox.png");
  background-repeat: no-repeat;
  box-sizing: content-box;
}
.total-label-payment-checkbox {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  margin-right: 8px;
}
.missing-products p {
  color: #a0a0a4;
}
.missing-products img {
  filter: grayscale(100%);
}
/* .total-label-payment-checkbox:checked {
  background-color: #cb11ab;
  background-image: url("./images/icons/checkbox.png");
  background-repeat: no-repeat;
  box-sizing: content-box;
} */
.delivery-method-data-order {
  width: 660px;
}
.data-order-title {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.data-order-title h5 {
  width: 160px;
}
.data-order-title-adress-delivery {
  position: absolute;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 42px;
  right: 100px;
}
.data-order-title-adress-delivery img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.rating {
}
.data-order-images {
  display: flex;
  flex-direction: row;
}
.data-order-images-product img {
  width: 40px;
  height: 56px;
  margin-right: 8px;
}
.data-order-images-product span {
  position: absolute;
  background: #f55123;
  border-radius: 16px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  /* max-width: 30px; */
  min-width: 16px;
  max-width: 50px;
  height: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  padding: 4px 2px 1px 2px;
  top: -10px;
  right: 5px;
}
.data-order-images-product {
  position: relative;
}
.data-order-agree {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}
.data-order-agree-text {
  width: 440px;
  display: flex;
  flex-direction: row;
}
#box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
#box-inner {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 00px;
  background: blue;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.payment-modal-window {
  width: 400px;
  height: 408px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 16px 20px 24px 24px;
  margin: 5% auto;
  left: 40%;
  top: 15%;
  position: absolute;
  transition: 300ms transform ease-in-out;

  /* transition: transform 0.2s ease 0s, opacity 0.2s ease 0s; */
}
.payment-modal-window-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  letter-spacing: -0.01em;
}
.payment-modal-window-title button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("./images/icons/search-close.png");
  border: 0;
}
.delivery-method-person-data {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 730px;
  height: 150px;
}
.delivery-method-person-data-input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  outline: none;
}
.delivery-method-person-data-tel p {
  font-weight: 400;
  font-size: 16px;
  position: relative;
  outline: none;
  color: #a0a0a4;
}
.delivery-method-person-data-input::placeholder {
  color: #a0a0a4;
}
.input-name,
.input-surname {
  width: 338px;
  height: 45px;
}
.input-name,
.input-email,
.input-telefon {
  margin-right: 24px;
}
.input-inn {
}

.input-email,
.input-telefon,
.input-inn {
  width: 217px;
  height: 64px;
}
.total-btn {
  width: 381px;
}
.total-btn,
.payment-modal-window-button {
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  background: #cb11ab;
  border-radius: 8px;
}
.payment-modal-window-button {
  position: absolute;
  bottom: 24px;
  width: 164px;
}

.total-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.payment-modal-window-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 240px;
  height: 24px;
  margin-bottom: 16px;
}
.payment-radio {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  appearance: none;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  background-color: #cb11ab;
}
.payment-radio::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: scale(0);
  margin-top: 30%;
  margin-left: 35%;
  transition: 150ms transform ease-in-out;
}
.payment-radio:checked::before {
  transform: scale(1);
  background: #ffffff;
}
.payment-modal-window-cart input:checked::before {
}
.payment-modal-window-cart img {
  margin-right: 4px;
  width: 32px;
  height: 24px;
}
.total-agreement-p {
  width: 300px;
}
.total-agreement-img {
  margin-right: 10px;
}
.p-title {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.03;
}

.p-properties {
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  margin: 0;
}
footer {
  height: 64px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  outline: none;
  color: #a0a0a4;
}
.p-cart {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.span-properties {
  font-weight: 400;
  font-size: 13px;
  color: #0cb477;
  margin: 0;
}
.p-description {
  font-weight: 400;
  font-size: 13px;
  color: #a0a0a4;
}
.h5-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}
.p-grey {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #a0a0a4;
}
